textarea {
  resize: none;
}

time p{
  width:400px;
  color:pink;
  float:right;
  text-align:right;
}

form{
  width:80%;
  margin:100px auto;
}

textarea{
  margin-top: 20px;
  width:100%;
}

label{
  color:pink;
  font-size: 24px;
}

input{
  font-size: 24px;
  margin-top: 20px;
  width:300px;
  height:30px;
  color:black;
}

input::placeholder{
    font-size: 24px;
}

input:focus{
  border:2px solid #ff7675 !important;
}

textarea{
  font-size: 24px;
}

textarea:focus{
  border:2px solid #ff7675 !important;
}

#Control{
  width:758px;
  margin:0 auto;
  margin-top:20px;
}

#Control button{
  border:2px solid #ff7675;
  text-transform: uppercase;
  color:white;
  background-color:#2d3436;
  height:50px;
  width:200px;
  margin-right: 50px;
}

article{
  margin-top: 30px;
  height:1000px;
  overflow-y: auto;
}

section{
  width:90%;
  margin:40px auto;
  background-color:#2d3436;
  border-radius: 10px;
  padding:10px;
}

.PostSample{
  width:99%;
  color:white;
  margin-left: 1%;
}

.PostAuthor{
  width:30%;
  color:pink;
  font-size: 24px;
  margin-left: 1%;
}


.Filter{
  float:right;
  margin-bottom: 20px;
}
.Filter h3{
  color:white;
  font-family: fantasy;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 24px;
}

.Filter select, .Filter button, .preview button{
  border:2px solid #ff7675;
  text-transform: uppercase;
  color:white;
  background-color:#2d3436;
  height:30px;
  width:100px;
  margin-right:20px;
}

.preview{
  margin:0 0 0 0;
}

.preview button{
  float:right;
}
